{% extends 'groups/group_base.html' %}
{% block pregroup %}

  <h1>{{group_detail.name}}</h1>
  <h2>Member Count: {{group_detail.members.count}}</h2>

  <div class="content">

    {% if user in group_detail.members.all %}
      <a href="{% url 'groups:leave' slug=group_detail.slug %}" class="btn btn-lg btn-fill btn-warning"><span class="glyphicon glyphicon-remove-circle"></span>>Leave</a>
    {% else %}
      <a href="{% url 'groups:join' slug=group_detail.slug %}" class="btn btn-lg btn-fill btn-success"><span class="glyphicon glyphicon-ok-circle"></span>>Join</a>
    {% endif %}

  </div>

{% endblock %}

{% block group_content %}
  <div class="col-m-8">

    {% if group.posts.count == 0 %}
      <h2>No Posts inthis group yet! </h2>
    {% else %}
      {% for post in group.posts.all %}
        {% include 'posts/_post.html' %}
      {% endfor %}
    {% endif %}

  </div>

{% endblock %}
